--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: repeat_type; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public.repeat_type AS ENUM (
    'NO_REPEAT',
    'DAILY_REPEAT',
    'WEEKLY_REPEAT'
);


ALTER TYPE public.repeat_type OWNER TO myuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.activities (
    id integer NOT NULL,
    animal_id integer NOT NULL,
    activity_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    activity_text text NOT NULL
);


ALTER TABLE public.activities OWNER TO myuser;

--
-- Name: activities_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_id_seq OWNER TO myuser;

--
-- Name: activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.activities_id_seq OWNED BY public.activities.id;


--
-- Name: animals; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.animals (
    id integer NOT NULL,
    id_user integer NOT NULL,
    name character varying(100) NOT NULL,
    species character varying(100) NOT NULL,
    birth date,
    description text,
    avatar character varying(255)
);


ALTER TABLE public.animals OWNER TO myuser;

--
-- Name: animals_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.animals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.animals_id_seq OWNER TO myuser;

--
-- Name: animals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.animals_id_seq OWNED BY public.animals.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    animal_id integer NOT NULL,
    notification_time time without time zone NOT NULL,
    notification_message text NOT NULL,
    repeat public.repeat_type DEFAULT 'NO_REPEAT'::public.repeat_type NOT NULL
);


ALTER TABLE public.notifications OWNER TO myuser;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO myuser;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    permission_name character varying(50) NOT NULL
);


ALTER TABLE public.permissions OWNER TO myuser;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO myuser;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.role_permissions (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO myuser;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    role_name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO myuser;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO myuser;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(50) NOT NULL,
    surname character varying(50) NOT NULL,
    role_id integer
);


ALTER TABLE public.users OWNER TO myuser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO myuser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: weights; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.weights (
    id integer NOT NULL,
    animal_id integer NOT NULL,
    date_weight date NOT NULL,
    weight numeric(6,2) NOT NULL
);


ALTER TABLE public.weights OWNER TO myuser;

--
-- Name: weights_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.weights_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.weights_id_seq OWNER TO myuser;

--
-- Name: weights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.weights_id_seq OWNED BY public.weights.id;


--
-- Name: activities id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.activities ALTER COLUMN id SET DEFAULT nextval('public.activities_id_seq'::regclass);


--
-- Name: animals id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.animals ALTER COLUMN id SET DEFAULT nextval('public.animals_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: weights id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.weights ALTER COLUMN id SET DEFAULT nextval('public.weights_id_seq'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.activities (id, animal_id, activity_date, start_time, end_time, activity_text) FROM stdin;
2	7	2025-06-20	12:00:00	23:00:00	Sleep
3	7	2025-06-20	03:04:00	12:00:00	Eating
4	3	2025-06-27	12:00:00	23:00:00	sleep
5	3	2025-06-19	02:00:00	03:00:00	fd
6	3	2025-06-19	02:00:00	03:00:00	fd
7	3	2025-06-20	12:00:00	23:00:00	Sleep
8	3	2025-06-30	12:00:00	15:00:00	Playing
9	9	2025-06-20	12:00:00	05:06:00	Pokarm
10	7	2025-06-20	02:00:00	04:00:00	co┼Ť
11	7	2025-06-20	17:00:00	19:00:00	activity
12	7	2025-06-20	18:00:00	20:00:00	pokarm 
13	7	2025-06-20	12:30:00	14:00:00	fds
\.


--
-- Data for Name: animals; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.animals (id, id_user, name, species, birth, description, avatar) FROM stdin;
3	3	Rufus	Hamster	2023-12-03	This is hamster Rufus	campbella-chomik.png
4	3	Koko	guine pig	2020-02-02	This is Koko. Koko likes eating hay.	Swinka-morska-Cavia.jpg
7	3	Poziomka	squirrel	2021-01-04	gfdgd	suse┼é.jpg
8	3	Koko2	szynszyl	2023-03-02	gfgfgdfsg	szynszyl.jpg
9	3	Zabus	Rat	2023-05-06	fdgd	rat.jpg
10	3	hjkhj	jhkj	2023-03-12	gfhgrf	rat.jpg
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.permissions (id, permission_name) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.roles (id, role_name) FROM stdin;
1	admin
2	user
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.users (id, email, password, name, surname, role_id) FROM stdin;
2	jan.kowalski@email.com	$2y$10$k2HCMjnMeo/a01b9tN9Cj.DT.kZJ5O0aHA7h8pq7svrfyM947xhei	Jan	Kowalski	2
3	julka.polak@email.com	$2y$10$7nLPkOJlOk2qQGJcmP1GNeJShfAtdO6wdMve9.vFRlcHeI9MvlN3a	Julia	Polak	2
\.


--
-- Data for Name: weights; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.weights (id, animal_id, date_weight, weight) FROM stdin;
1	3	2025-06-11	250.00
2	3	2025-06-26	23.00
3	7	2025-06-28	300.00
\.


--
-- Name: activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.activities_id_seq', 13, true);


--
-- Name: animals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.animals_id_seq', 10, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.notifications_id_seq', 22, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: weights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.weights_id_seq', 3, true);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: animals animals_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.animals
    ADD CONSTRAINT animals_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_permission_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_permission_name_key UNIQUE (permission_name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_role_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_name_key UNIQUE (role_name);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: weights weights_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.weights
    ADD CONSTRAINT weights_pkey PRIMARY KEY (id);


--
-- Name: animals animals_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.animals
    ADD CONSTRAINT animals_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.users(id);


--
-- Name: activities fk_animal; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT fk_animal FOREIGN KEY (animal_id) REFERENCES public.animals(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_animal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_animal_id_fkey FOREIGN KEY (animal_id) REFERENCES public.animals(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: weights weights_animal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.weights
    ADD CONSTRAINT weights_animal_id_fkey FOREIGN KEY (animal_id) REFERENCES public.animals(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

