<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/animals.css">
    <script src="https://kit.fontawesome.com/6c7c83f719.js" crossorigin="anonymous"></script>
    <title>Animals</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <img src="../img/logo_2.svg" alt="Rodent Analytics logo">
            <div class = "title-text">
            <span class="rodent">RODENT</span>
            <span class="analytics">ANALYTICS</span>
            </div>
        </div>
    </header>
    <div class="base-container">
        <nav>
            <ul>
                <div class="menu-group">
                <li><i class="fa-solid fa-paw"></i> <a href="#" class="button">ANIMALS</a> </li>
                <li><i class="fa-solid fa-chart-simple"></i><a href="#" class="button">ANALYSIS</a> </li>
                <li><i class="fa-solid fa-bell"></i> <a href="#" class="button">NOTIFICATION</a> </li>
                </div>
                <li class="bottom-item"><i class="fa-solid fa-gears"></i> <a href="#" class="button">SETTINGS</a> </li>
            </ul>
         </nav>
        <main>
        <section class="animals-grid">
                <div class="frame">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="text-wrapper">Rufus</div>
                    </div>
                </div>
            <div id="animal-2"> animal 2</div>
            <div id="animal-3"> animal 3</div>
            <div id="animal-4"> animal 4</div>
            <div id="animal-5"> animal 5</div>
            <div class="add-animal"> <i class="fa-solid fa-plus"></i></div>
        </section>
    </main>
    </div>

</body>
</html>