<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/6c7c83f719.js" crossorigin="anonymous"></script>
    <title>Animals</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <img src="../img/logo_2.svg" alt="Rodent Analytics logo">
            <div class="title-text">
            <span class="rodent">RODENT</span>
            <span class="analytics">ANALYTICS</span>
            </div>
        </div>
    </header>
    <div class="base-container">
        <nav>
            <ul>
                <li><i class="fa-solid fa-paw"></i> <a href="#" class="button">animals</a> </li>
                <li><i class="fa-solid fa-chart-simple"></i><a href="#" class="button">analysis</a> </li>
                <li><i class="fa-solid fa-bell"></i> <a href="#" class="button">notification</a> </li>
                <li><i class="fa-solid fa-gears"></i> <a href="#" class="button">settings</a> </li>
            </ul>
         </nav>
        <main>
        <div class="animals-grid">
            <div> animal 1</div>
            <div> animal 2</div>
            <div> animal 3</div>
            <div> animal 4</div>
            <div> animal 5</div>
            <div class="add-animal"> <i class="fa-solid fa-plus"></i></div>
        </div>
    </main>
    </div>

</body>
</html>